@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.navbar {
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}

.navbar-title {
    font-size: 2rem;
    color:aqua;
    font-weight: 600;
}