html,
body {
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
}

.full-page {
    min-height: 100vh;
    width: 100vw;
}

.title-workout {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-landingpage {
    width: 100%;
    height: 100%;
    min-height: 1400px;
}
